<!DOCTYPE html>
<html>

<head>
  <title>Training Diary</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  
  <body>
      
      <center>
          <h3>Your Id is {{sellerID}}</h3>
      <h3>URL: {{url}}</h3>    
      </center>
      
  </body>
  </html>
